
.nav {
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
    padding: 0;
}
li {
    display: inline;
}
button {
    height: 35px;
    margin-left:10px;
    margin-right:10px;
    width: 90px;
    border-radius: 10px;
    border: none;
}
button:focus{
    outline: none;
}
.homeBtn {
    position: relative;
    color: whitesmoke;
    background-color: rgb(68, 53, 94);
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}