nav {
    display: flex;
    background-color: rgb(59, 59, 97);
    justify-content: center;
}
ul{
    list-style: none;
    padding: 0;
}
li {
    display: inline;
}
button {
    height: 35px;
    margin-left:10px;
    margin-right:10px;
    width: 90px;
    border-radius: 10px;
    border: none;
}
button:focus{
    outline: none;
}